@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black bg-[url('bg/Sun.png')] bg-no-repeat bg-center font-serif;
  background-size: 640px, 480px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: block;
}
