@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[rgb(35,44,52)] font-serif;
  /* @apply  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: block;
}
